* {

    margin: 0;
}

#header {

    height: 200px;
    width: 1875px;
    background-color: lightgreen;
    border: 3px solid black;
}

#header h1 {

    height: 40px;
    width: 800px;
    background-color: green;
    margin-top: 75px;
    margin-left: 500px;
    text-align: center;
    color: greenyellow;
    font-size: 30px;
}

#body {
    margin: 1px 0;
    height: 500px;
    width: 1875px;
    background-color: yellow;
    border: 3px solid black;
}

#body #titulo {

    height: 20px;
    width: 1855px;
    background-color: grey;
    margin: 20px 10px;
    color: white;
    font-size: 15px;
    text-align: center;

}

#body #esporte01 {

    height: 50px;
    width: 550px;
    background-color: black;
    margin: 0px 10px;
    color: white;
    font-size: 25px;
    text-align: center;

}

#body #esporte02 {

    height: 50px;
    width: 650px;
    background-color: blue;
    margin: 15px 10px;
    color: white;
    font-size: 25px;
    text-align: center;

}

#body #esporte03 {

    height: 50px;
    width: 550px;
    background-color: red;
    margin: 15px 700px;
    color: white;
    font-size: 25px;
    text-align: center;

}

#body #esporte04 {

    height: 50px;
    width: 550px;
    background-color: #95F9E3;
    margin: 15px 1300px;
    color: black;
    font-size: 25px;
    text-align: center;

}

.pes {
    padding-top: 15px;
}

#bottom {
    height: 250px;
    width: 1880px;
    background-color: #445e93;
    margin: 10px 1px;
}

#author {

    height: 20px;
    width: 1880px;
    background-color: #7EB2DD;
    text-align: center;
    padding-top: 5px;
}